@model ERP.Models.SaleParty
@{
    ViewBag.Title = "SaleTaxInvoice";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<style type="text/css">
    /*label {
        font-weight: 100;
        font-size: 12px;
    }*/

    /*.btn {
        line-height: 0.25;
        font-size: 12px;
    }*/

    .checkbox {
        margin-top: 0px;
        margin-bottom: 0px;
    }


    .bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off,
    .bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on,
    .bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label {
        line-height: 1.2;
    }

    /*.modal-header {
        padding: 5px;
    }*/



    /*.input-group-addon {
        padding: 3px 8px;
        /*color: #0084BF;
    }*/



    .table-Scroll {
        max-height: 540px;
        max-width: 100%;
        overflow: auto;
    }

    td {
        font-size: 12px;
    }

    th {
        font-size: 12px;
        font: bold;
    }

    .width50 {
        width: 500px;
    }

    .width40 {
        width: 400px;
    }

    .width15 {
        width: 150px;
    }

    .width30 {
        width: 300px;
    }

    .width20 {
        width: 200px;
    }

    .width10 {
        width: 100px;
    }


    .width5 {
        width: 50px;
    }

    .Ghaib {
        display: none;
    }
</style>

<style>
    .Top {
        margin-top: 5px;
    }

    .Btn-width {
        width: 110px;
        font-family: Calibri;
        font-size: large;
        font-style: normal;
    }

    .table-head {
        height: 10px;
        line-height: 8px;
    }

    .btn-TopHeight {
        margin-top: 23px;
    }

    .btn-ItemWidth {
        width: 100px;
        /*height: 32px;*/
    }

    fieldset {
        margin-top: 20px
    }

    thead {
        height: 32px
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="white-box">
            <form name="EmployeeMaster" role="form" method="post" style="margin-top:20px">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-group row">
                            <label for="exampleInputuname" class="offset-md-2 col-md-1">Invoice No</label>
                            <div class="input-group col-md-2">
                                <input type="text" class="form-control" autocomplete="off" id="ManInvoiceNo" placeholder="Man Invoice No">
                            </div>


                            <input type="button" class="btn btn-info" value="Print" onclick="CISReportInNewWin();" style="width:70px;height:30px;background: #0067b8;padding:10px" />
                            @*}
        else
        {
            <input type="button" class="btn btn-info" value="Print" onclick="CISReportInNewWin();" style="width:70px;height:30px;background: #0067b8;padding:10px" disabled />
        }*@

                            &nbsp;&nbsp;
                            <div class="input-group-addon"><a style="color:green" onclick="ExportPrint();"><i class="fa fa-print"></i></a></div>



                        </div>
                    </div>
                </div>
                <!--Buttons For Actions-->
                <div class="form-group row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="input-group offset-md-3">
                           
                          

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Scripts-->
<script src="~/Content/plugins/bower_components/jquery/dist/jquery.min.js"></script>

<script>
    document.getElementById("PageHeader").innerHTML = "Sale Tax Invoice";
    document.getElementById("PageTitle").innerHTML = "Sale Tax Invoice Report"

</script>

<script type="text/javascript">

    // For Reporting
    function SimpleInNewWin() {

        window.open("../ReportWebForms/Transaction/SaleTaxInvoice.aspx" , 'mywindow', 'fullscreen=yes, scrollbars=auto');
    }

    function CISReportInNewWin() {

        var ManInvoiceNo = document.getElementById("ManInvoiceNo").value;

        $.ajax({
            url: '/Report/ShowSaleTaxInvoice',

            data: JSON.stringify({ ManInvoiceNo: ManInvoiceNo }),
            type: 'POST',
            contentType: 'application/json;',
            dataType: 'json',
            complete: function (data) {
                SimpleInNewWin();
            }
        });
    }

    function ExportPrint() {
        var ManInvoiceNo = document.getElementById("ManInvoiceNo").value;

         var baseurl = '@Url.Action("/ExportSaleTaxInvoice")';
        var url = baseurl + '?ManInvoiceNo=' + ManInvoiceNo;
        //window.location.href = url;
        window.open(url, '_blank');
    }


</script>

